* {
    margin: 0;
    padding: 0;
}

.container1 {
    height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 75px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

.login {
    list-style: none;
}

.login a {
    text-decoration: none;
    color: #333;
   
}

nav ul li a {
    text-decoration: none;
    color: #333;
}


.section{
    width: 100%;
    min-height: 100vh;
}

.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.contact{
    position: relative;
    min-height: 40vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 28px;
    font-family: sans-serif;
    margin-top: 00px;
    font-size: 40px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.contact .content p{
    font-size: 20px;
    font-weight: 500;
    color: rgb(5, 5, 5);
    font-family: sans-serif;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #121313;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 760px){
    body {
        background-color: beige;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .mainheader .logo img{
        margin-top: 40px;
        margin-left: 40px;
        width: 120px;
        height: 60px;
        padding-left: 20px;
    }
    .menubtn{
        margin-right: 30px;
        margin-top: 30px;
    }
    .mainheader button{
        padding: 15px 30px;
        text-align: center;
        font-size: 15px;
        color:#333;
        border: none;
        background-color: #fff;
        border-radius: 10px;
    }
    .mainheader{
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contactForm{
        width: 100%;
        padding: 40px;
        background: #fff;
    }
    .contactForm h2{
        font-size: 30px;
        color: #333;
        font-weight: 500;
    }
    .contactForm .inputBox{
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    .container .contactInfo{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo,
    .contactForm{
        margin-bottom: 40px;
    }
}  
  @media screen and (max-width:760px) {
    .border{
      margin-left: 20px;
      width: 445px;
      height: 4px;
      background: #fc5c65;
    }
    .footer-container{
      max-width: 600px;
    }
    .right-col{
      width: 100%;
      margin-bottom: 00px;
    }
  
    .left-col{
      width: 100%;
      text-align: center;
    }
  }
  
  @media screen and (max-width:760px){
    .btn{
      margin: 0;
      width: 100%;
      margin-top: 20px;
      }
  }  